/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* ====================== Edit Popup ========================== */

.popup
{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0, 0,.4);
    display:none ;
    place-items: center;
}

.popup.active
{
    display: grid;
    animation: show .7s ease-in-out;
}

@keyframes show
{   0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(0);
    }
}
.popup form
{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    padding: 50px 20px;
    
}

.popup form input
{
    width: 100%;
    background-color: transparent;
    border:none;
    box-shadow: inset 0 0 2px rgba(0,0, 0,.4);
    margin: 15px 0;
    padding: 12px 15px;
    font-size: 1.1rem;
    font-family: cursive;
   
}
.popup form input[type = "submit"]
{
    background-color: var(--blue);
    color: #fff;
    cursor: pointer;
    max-width: 100px;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: -webkit-linear-gradient(25deg,#e85092, #9c6fdb,#8338EC, #75aaff, #3A86FF);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color:var(--white);
  
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}


.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}
.webName{
  margin-left: 80px;
  margin-top: 70px;
  font-size: 25px;
  font-weight: 1000;
  -webkit-text-stroke: 1px var(--blue);
  color: var(--white);
}


/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: rgb(211, 222, 243);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background: -webkit-linear-gradient(25deg, #3A86FF,#75aaff, #8338EC,#9c6fdb, #e85092);


}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
  margin-right: 30px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 5px;
  border-radius: 20px;
  border: width 10px; 
  border-color: #1795ce;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .name {
  position: relative;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--blue);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 10px;
  text-align: center;
  margin-top: 10px;

}

.cardBox .card .numbers {
  color: var(--black1);
  font-size: 1.0rem;
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-left: 10px;
}

.cardBox .card .iconBx {
  font-size: 2.5rem;
  color: var(--blue);

}
.iconBx img{
  width: 57px;
  height: 100%;
  border-radius: 20px 20px;
}
.logo{
    width: 70px;
  
  }
  .btn{
    padding: 9px 10px;
    background: var(--blue);
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    color: var(--white);
    border-radius: 6px;
  }

.card .btn1 {
  padding: 5px 10px;
  background: var(--white);
  text-decoration: none;
  font-size: small;
  text-align: center;
  color: var(--blue);
  border-radius: 6px;
}
.imgBtn{
  text-decoration: none;
  width: 57px;
  height: 100%;
  background: var(--white);
  border: none;
}

/* ====================== Popups ========================== */
.popup
{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0, 0,.4);
    display:none ;
    place-items: center;
}
.popup2
{
    position: fixed;
    inset: 0;
    display:none ;
    place-items: center;
}

.popup.active
{
    display: grid;
    animation: show .7s ease-in-out;
}
.popup2.active
{
    display: grid;
    animation: show .7s ease-in-out;
}
@keyframes show
{   0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(0);
    }
}
.popup form
{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    padding: 50px 20px;
    
}
.popup form input
{
    width: 100%;
    background-color: transparent;
    border:none;
    box-shadow: inset 0 0 2px rgba(0,0, 0,.4);
    margin: 15px 0;
    padding: 12px 15px;
    font-size: 1.1rem;
    font-family: cursive;
   
}
.popup form input[type = "submit"]
{
    background-color:var(--blue);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 35px;

}
.popup form .delete
{
    background-color:#e47a7a  ;
    color: #fff;
    cursor: pointer;
    height: 35px;
    width: 100px;
    border: none;

}
.itemsBox {
  position: relative;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  background-color: rgba(0,0, 0,.4);
  border-radius: 10px;

}

.itemsBox.active
{
    display: grid;
    animation: show .7s ease-in-out;
}

.itemsBox .item {
  position: relative;
  background: var(--white);
  padding: 10px;
  border-radius: 20px;
  border: width 10px; 
  border-color: #1795ce;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.itemsBox .item .serial {
  position: relative;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--blue);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 10px;
  text-align: center;

}

.itemsBox .item .number {
  color: #6c6666;
  font-size: 1.0rem;
  margin-top: 5px;
  font-family:'Times New Roman';
  text-align: center;
  margin-left: 10px;
}
.itemsBox .item .icons img {
  width: 30px;

}

/* ====================== Responsive ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}